.container {
  padding: 5px 0;
}

.title {
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #A0B0B9;
  font-weight: 600;
  font-size: 12px;
}

.text {
  /* text-transform: uppercase; */
  line-height: 21px;
  font-weight: 600;
  font-size: 14px;
}